@mixin reset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@mixin reset-frame-section {
  padding: 0;
}

@mixin frame-section {
  padding-top: 60px;
  padding-bottom: 50px;
}
@mixin default-link {
  text-decoration: none;
}

@mixin small-badge {
  border-radius: 15px;
  padding: 5px 20px;
}

@mixin img-animate {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
  }
  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
  }
  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
  }
  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
  }
}

@mixin btn {
  height: 48px;
  max-height: 48px;
  border-radius: 0;
  padding-left: 15x;
  padding-right: 15px;
}