$color-accent: #d4a267;

$color-primary: #d4a267;
$color-primary-light: #f0e8df;
$color-primary-lighter: #faf7f2;

$color-secondary: #666666;
$color-secondary-dark: #444444;
$color-secondary-darker: #1d1d1d;
$color-secondary-light: #aaaaaa;
$color-secondary-lighter: #ececec;

$black: #000000;
$white: #ffffff;

