$color-accent: #d4a267;

$color-primary: #d4a267;
$color-primary-light: #e8dfd7;
$color-primary-lighter: #faf7f2;

$color-secondary: #666666;
$color-secondary-dark: #444444;
$color-secondary-darker: #1d1d1d;
$color-secondary-light: #aaaaaa;
$color-secondary-lighter: #f5f5f5;

$black: #000000;
$white: #ffffff;

$color-success: #21bb5e;
$color-success-light: #b1efca;
$color-danger: #cd1d1d;
$color-danger-light: #f2acac;
$color-warning: #f49507;
$color-warning-light: #fff1dd;
$color-info: #13c1f9;
$color-info-light: #abe2f3;
